[include]
    path = .gitconfig.local
[core]
    editor = vim
	# 支持中文
    quotepath = false
[push]
    default = simple
[user]
	email = toby.lee@foxmail.com
	name = toby
;[https "https://github.com"]
;	proxy = socks5://192.168.31.98:10808
;[http "https://github.com"]
;	proxy = socks5://192.168.31.98:10808
