# DIY

snippet logger "getLogger"
logger = logging.getLogger(__name__)
endsnippet

snippet logcfg "basicConfig"
logging.basicConfig(level=logging.${0:${VISUAL:INFO}},
					format='%(asctime)s %(name)s:%(funcName)s-%(lineno)d:%(levelname)s:%(message)s')
endsnippet

